Repository OpenSourceHardTeam/OpenSource-Front, pull requests merged in 2025-05, with the labels that each got.

#20 [Feature/#19] 메인페이지 슬라이더 구현 및 사이드바 제작
  package-lock.json
  package.json
  src/App.tsx
  src/assets/img/index.ts
  src/assets/index.ts
  src/assets/svg/Chat Bubble.svg
  src/assets/svg/Home.svg
  src/assets/svg/bookIcon.svg
  src/assets/svg/fe_search.svg
  src/components/ChatingCard/ChatingCard.tsx
  src/components/Header/Header.tsx
  src/components/SideBar/SideBar.style.ts
  src/components/SideBar/SideBar.tsx
  src/pages/BookDetail/BookInfoPage.tsx
  src/pages/Home/Home.style.ts
  src/pages/Home/Home.tsx
  src/pages/LoginPage/LoginPage.tsx
  vite.config.ts
Labels: ✅Feat, 🎀Style

#22 [Feature/#21] 책 목록 페이지 UI 구현
  package-lock.json
  src/BD/BookData.ts
  src/assets/svg/messageClickButton.svg
  src/components/BookCard/BookCard.style.ts
  src/components/BookCard/BookCard.tsx
  src/components/Header/Header.style.ts
  src/components/Header/Header.tsx
  src/constants/routes.ts
  src/pages/BookListPage/BookListPage.style.ts
  src/pages/BookListPage/BookListPage.tsx
  src/pages/Chat/ChatPage.tsx
  src/pages/SignUpPage/SignUpPage.tsx
  src/routes/router.tsx
Labels: ✅Feat, 🎀Style

#24 [Feature/#23] 도서 목록 수정
  src/components/BookCard/BookCard.style.ts
  src/components/BookCard/BookCard.tsx
  src/components/SideBar/SideBar.tsx
  src/pages/BookListPage/BookListPage.style.ts
  src/pages/BookListPage/BookListPage.tsx
  src/pages/ChatList/ChatList.tsx
Labels: :recycle: Refactor

#27 [Feature/#23] 회원가입, 로그인 api 연동 및 버튼 로직 추가
  .env
  package-lock.json
  package.json
  src/App.tsx
  src/apis/apiUtils.ts
  src/apis/axiosInstance.ts
  src/apis/hooks/users/userPostLogIn.ts
  src/apis/hooks/users/userPostSignUp.ts
  src/apis/tokenInstance.ts
  src/apis/types/response.ts
  src/apis/types/user.ts
  src/apis/userAPI.ts
  src/assets/index.ts
  src/assets/svg/profile.svg
  src/components/Button/Button.style.ts
  src/components/Button/Button.tsx
  src/components/Header/Header.style.ts
  src/components/Header/Header.tsx
  src/constants/routes.ts
  src/pages/Chat/ChatPage.tsx
  src/pages/LoginPage/LoginPage.style.ts
  src/pages/LoginPage/LoginPage.tsx
  src/pages/SignUpPage/SignUpPage.style.ts
  src/pages/SignUpPage/SignUpPage.tsx
  src/routes/router.tsx
Labels: ✅Feat, 🎀Style, :recycle: Refactor
